extends layout

block content
    h1= title
    h2= movie.title
    p= movie.overview 
    p= movie.release_date
    if movie.genre_ids && movie.genre_ids.length
        ul 
            each genre in movie.genre_ids
                li
                    a(href=genre.url)= genre.name