extends layout

block content
    h1= title
    h2= user.username
    p Favorite Movies
    if user.movies.length>0
        div.list-group
            each movie in user.movies
                a.list-group-item.list-group-item-action(href=movie.url)
                    h5.list-group-item-heading.mr-3= movie.title
                    form(action="/users/"+user._id+"/movies/remove" method="post")
                        input(type="hidden" name="movieId" value=movie._id)
                        button(type="submit" class="btn btn-danger btn-sm") Remove
    else
        p No favorite movies

    br
    form(action="/users/"+user._id+"/delete" method="post" onsubmit="return confirmDelete();")
        input(type="hidden" id="password" name="password" value="")
        button(type="submit" class="btn btn-danger") Delete User

block scripts
    script.
        function confirmDelete() {
            const password = prompt("Please enter your password to confirm deletion:");
            if (password !== null) {
                document.getElementById('password').value = password;
                return true;
            }
            return false;
        }